@import "home";

.profile-avatar-ban {
  display: flex;
  justify-content: center;
  padding-top: 6px;
}


#meetings-index .display-width {
  width: 90%;
}

.display-width {
  width: 95%;
  margin: auto;
}

.medium-avatar {
  img {
     width: 87px;
    height: 87px;
    border-radius: 50%;
    top: 54px;
    position: absolute;
    left: 255.5px;
    margin-top: 17px;
    border: 1px solid white;
  }
}

.medium-avatarr {
  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    padding-bottom: 5px;
    position: absolute;
    top: 316px;
    left: 66px;
  }
}

.comment a {
  color: white;
}

.dashboard-card {
  background-color: #001858;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 10px;
  border-radius: 25px;
  padding: 10px;
  left: 18px;
  top: 90px;
  margin-top: 40px;
  margin-bottom: 25px;
  padding-bottom: 64px;
  height: 205px;


  h5 {
    color: #011e3f;
    font-size: 7px;
    margin-top: -36px;
    margin-bottom: 20px;
  }
}

.dashboard-cardif {
  background-color:#001858;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 10px;
  border-radius: 25px;
  padding: 10px;
  left: 18px;
  top: 90px;
  margin-top: 40px;
  margin-bottom: 25px;
  padding-bottom: 64px;
  height: 205px;

  h5 {
    color: #011e3f;
    font-size: 7px;
    margin-top: -36px;
    margin-bottom: 20px;
  }
  p{
    margin: 0px;
    transform: translate(5px, 70px);
  }
}

.dashboard-cardav {
  background-color: #001858;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 10px;
  border-radius: 25px;
  padding: 10px;
  left: 18px;
  top: 90px;
  margin-top: 40px;
  margin-bottom: 25px;
  padding-bottom: 64px;
  height: 173px;

  h5 {
    color: #011e3f;
    font-size: 7px;
    margin-top: -36px;
    margin-bottom: 20px;
  }
}

.dashboard-card1 {
  background-color: #001858;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 10px;
  border-radius: 25px;
  padding: 10px;
  left: 18px;
  top: 90px;
  margin-top: 40px;
  margin-bottom: 25px;
  padding-bottom: 64px;


  h5 {
    color: #90ADD1;
    font-size: 7px;
    margin-top: -36px;
    margin-bottom: 20px;
  }
}

.dashboard-card p, h2, h3, h4, h5 {
  margin: 0px;
}

.dashboard-card-last {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 10px;
  padding: 16px;
  width: 168px;
  background: #d6d8dc;
  border-radius: 25px;
  margin-right: 10px;
  margin-left: 10px;
}

.dashboard-card-last1 {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 10px;
  padding: 16px;
  width: 168px;
  background: #d6d8dc;
  border-radius: 25px;
  margin-right: 10px;
  margin-left: 10px;
  height: 215px;

}

.dashboard-card-last1 p {
  font-size: 79px;
  margin: 0px;
  margin-top: 3px;
  position: absolute;
  transform: translate(40px, 14px);
}


.dashboard-card-last1 h5 {
color: black;
margin-top: 105px;
}

.dashboard-card-last p {
color: #1b262c;
transform: translatey(16px);
font-weight: bold;

}

.dashboard-card-1{
  background: #1b262c;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 10px;
  border-radius: 8px;
  padding: 10px;
  margin-right: 13px;
  margin-left: 9px;
}


.dashboard-availabilities {
  display: flex;
  justify-content: space-around;
  padding: 1px;
  transform: translate(2px, -15px);
  > div {
    // width: 14%;
    // flex-grow: 1;
  }
}



.icon-active {
  color: #0096ff;
}

.icon-inactive {
  color: white;
}

.fa-check-circle {
  right: 8px;
  top: 12px;
  color:green;
  font-size: 20px;
  margin-bottom: 13px;
}

.fa-times-circle {
  right: 35px;
  top: 12px;
  color:red;
  font-size: 20px;
}

.card-title {
  text-align: center;
}

.availabilities-header {
  display: flex;
  justify-content: center;
  position:relative;
}

.user-info {
  display: flex;
  margin-top: -6px;

}

.user-details {
  margin-left: 15px;
  margin-top: -69px;
  font-color: #DADADA;

}

.meeting-info {
  padding-inline: 10px;
  text-align: center;
  color: #1b262c;
  display: flex;
  margin-left: 190px;
  position: absolute;
  margin-top: 15px;
}

.adressmeeting {
  display: flex;
  position: absolute;
}

.icon-avail {
  justify-content: center;
  display: flex;
  flex-direction: column;
  i {
    display: block;
    padding-bottom: 8px;
  }
}

.pencil-icon {
  display: block;
  position: absolute;

right: 5px;
}

.center {
  display: flex;
  justify-content: center;
  background-color: #1b262c;
  font-size: 16px;
  padding: 8px;
  margin-top: 15px;
  border-radius: 5px;
  font-weight: bolder;
  text-decoration: none !important;
}

.center a {
  color: white;
}

.center1 {
  justify-content: center;
  background-color: #1b262c;
  font-size:12px;
  padding: 8px;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: bolder;
  text-decoration: none !important;
  text-align: center;
}

.center1 a {
  color: white;
}

.center:hover {
  background-color: white;
  color: #1b262c;
  text-decoration: none !important;
}

.indextitle {

  text-align:center;
}

.network {
  text-align:center;
}
.networkname {
  text-align:center;
  margin-left: 12px;
  color: white;
  opacity: .7;
  font-size: 14px;
  font-weight: bold;
}

.disposition a {
  text-decoration: none;
}

#network{
  text-align:center;
}

.banner {
    background-size: cover;
    background-position: center;
    padding: 200px 0;
}


.banner h1 {
    color: white;

}
.banner p {
    color: white;
    opacity: .7;
    font-size: 20px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.cards {
    height: 160px;
    width: 160px;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    border-radius: 9px;
    margin: auto;
    margin-bottom: 10px;
    padding-left: 14px;
    position: relative;
}

.card {
    width: 250px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgb(230,230,230);
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(230,230,230);
}


.card img {
  height:  150px;
  align-self: center;
}

.containerperso {
  width: 100%;
  margin: auto;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#map {
  margin-top: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.email {
  margin: 0 !important;
}

.login {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),asset-url("linkedin-new_2");
  background-size: cover;
  height: 100vh;
}

.form-inputs {
  color: #1b262c !important;
}

.form-actions {
  color: #1b262c !important;
}

body {
  background-color: white !important;
  position: relative;
}
