// Import page-specific CSS files here.
@import "home";

.profile-avatar-ban {
  display: flex;
  justify-content: center;
  padding-top: 6px;
}

.display-width {
  width: 95%;
  margin: 0 auto
}

.medium-avatar {
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
}

.medium-avatarr {
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    padding-bottom: 5px;
  }
}

.comment a {
  color: white;
}

.dashboard-card {
  background-color: #0296FF;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 10px;
  border-radius: 8px;
  padding: 10px;
  h6 {
    color: #90ADD1;
    font-size: 20px;
  }
}

.dashboard-card p, h2, h3, h4, h5 {
  color: #1b262c !important;
}

.dashboard-card-last {
  background-color: #0296FF;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 10px;
  border-radius: 8px;
  padding: 16px;
  width: 173px;
}

.dashboard-card-last p {
 color: #1b262c;
}

.dashboard-card-1{
  background: #1b262c;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 10px;
  border-radius: 8px;
  padding: 10px;
  margin-right: 13px;
  margin-left: 9px;
}


.dashboard-availabilities {
  display: flex;
  justify-content: space-around;
  > div {
    // width: 14%;
    // flex-grow: 1;
  }
}

.columndash {
  padding-top: 0px;
}

.icon-active {
  color: #0096ff;
}

.icon-inactive {
  color: white;
}

.fa-check-circle {
  right: 8px;
  top: 12px;
  color:green;
  font-size: 20px;
}

.fa-times-circle {
  right: 35px;
  top: 12px;
  color:red;
  font-size: 20px;
}

.card-title {
  text-align: center;
}

.availabilities-header {
  display: flex;
  justify-content: center;
  position:relative;
}

.user-info {
  display: flex;
}

.user-details {
  margin-left: 15px;
}

.meeting-info {
  border-top: solid lightgray 1px;
  padding-inline: 10px;
  text-align: center;
  color: #1b262c;
}

.icon-avail {
  justify-content: center;
  display: flex;
  flex-direction: column;
  i {
    display: block;
    padding-bottom: 8px;
  }
}

.pencil-icon {
  display: block;
  position: absolute;

right: 5px;
}

.center {
  display: flex;
  justify-content: center;
  background-color: #1b262c;
  font-size: 16px;
  padding: 8px;
  margin-top: 15px;
  border-radius: 5px;
  font-weight: bolder;
  text-decoration: none !important;
}

.center a {
  color: white;
}

.center1 {
  justify-content: center;
  background-color: #1b262c;
  font-size:12px;
  padding: 8px;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: bolder;
  text-decoration: none !important;
  text-align: center;
}

.center1 a {
  color: white;
}

.center:hover {
  background-color: white;
  color: #1b262c;
  text-decoration: none !important;
}

.indextitle {

  text-align:center;
}

.network {
  text-align:center;
}
.networkname {
  text-align:center;
  margin-left: 12px;
  color: white;
  opacity: .7;
  font-size: 14px;
  font-weight: bold;
}

#network{
  text-align:center;
}

.banner {
    background-size: cover;
    background-position: center;
    padding: 200px 0;
}


.banner h1 {
    color: white;

}
.banner p {
    color: white;
    opacity: .7;
    font-size: 20px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.cards {
    height: 150px;
    width: 150px;
    display: flex;
    align-items : flex-end;
    background-size: cover;
    border-radius: 9px;
    margin : 17px;
    padding-left: 14px;
}

.card {
    width: 250px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgb(230,230,230);
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(230,230,230);
}


.card img {
  height:  150px;
  align-self: center;
}

.containerperso {
    width: 100vw;
    margin: auto;
    // display: inline-flex;
    // flex-direction: row;

}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.photouser {
  img {
    width: 50%;
    background-size: cover;
    border-radius: 9px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  text-align: center;
  width: 100%;
}

#map {
  margin-top: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.email {
  margin: 0 !important;
}

.login {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),asset-url("linkedin-new_2");
  background-size: cover;
  height: 100vh;
}

.form-inputs {
  color: #1b262c !important;
}

.form-actions {
  color: #1b262c !important;
}
