.titre-meeting-index {
  color: #1b262c !important;
  padding-top: 15px !important;
}

.meeting-card {
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 15px;
  background-color: #1b262c;
  margin: 5px;
  height: 100px;
}

.meeting-card p, a {
  font-size: 16px;
  color: white;
}

.meeting-date p {
  color: #1b262c;
  z-index: 4;
}

.avatar-meeting img {
  width: 60px;
  border-radius: 50%;
  border: white 2px solid;
}

.partie-droite p {
  margin: 0;
}
