.users {
 background-color: #DADEE5;
 display: flex;
 align-items: center;
 justify-content: space-around;
}

.image-chevauchement {
  padding: 20px;
  display: flex;
  align-items: center;
}

.image-user-1 img {
  margin-right: -12px;
}
