.titre-meeting-index {
  color: #1b262c !important;
  padding-top: 15px !important;
  text-align: center;
}

.meeting-card {
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 15px;
  background-color: #0296FF;
  margin: 5px;
  height: 100px;
}

.meeting-date {
  margin-left: 164px;
  position: absolute;
  margin-top: 30px;
  transform: translate(5px,22px);
  }

.avatar-meeting img {
  width: 60px;
  border-radius: 50%;
  border: white 2px solid;
  position: absolute;
  left: -23px;
  top: 50%;
  transform: translatey(-50%);
}

.avatar-network img {
  border-radius: 50%;
  border: white 2px solid;
  position: absolute;
  left: -23px;
  top: 50%;
  transform: translate(28px, -171px);
  width: 140px;
}

.partie-droite p {
  margin: 0;
  width: 165px;
}

.fa-calendar-alt {
  font-size: 16px;
  color: #1b262c;
}

.cardprofilindex {
  background-color: #001858;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  border-radius: 25px;
  padding: 10px;
  left: 23px;
  margin-top: 13px;
  margin-left: 3px;
  margin-right: -10px;
  padding-right: 82px;
  padding-left: 57px;
  width: 333px;
  position: relative;
  height: 89px;
}

.cardprofilindex p {
  margin: 0px;
  transform: translate(17px, -5px);
}

.white {
  color: white;
}

.meetinginfouser2 {
  width: 131px;
  text-align: center;
  transform: translate(-40px, 5px) !important;

}

.past {
  background-color: #d6d8dc;
  p {
    color: black;
    i {
      color: black;

    }
  }
}
