.fullname {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.email {
  text-align : center;
  margin-left: 10px;
  margin-right: 10px;
}

.phone {
  text-align : center;
  margin-left: 10px;
  margin-right: 10px;
}
.birth{
  text-align : center;
  margin-left: 10px;
  margin-right: 10px;
}

.address {
  text-align : center;
  margin-left: 10px;
  margin-right: 10px;
}

.turnover {
  text-align : center;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.description {
  text-align : center;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.sector {
  text-align : center;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.catecontact {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.about {
  text-align : center;
  margin-left: 10px;
  margin-right: 10px;
}

hr {
  width : 80%;
  padding: 0px;
}

.avail {
  text-align: center;
}

.contactimg {
  width: 100px;
  height: 100px;
}

.entreprise {
  text-align: center;
}

h5{
  font-weight: bold;
}
