.fullname {
  text-align: center;

}

.email {
  text-align : center;
  padding: 10px;

}

.phone {
  text-align : center;
  padding: 10px;

}
.birth{
  padding: 10px;
  text-align : center;

}

.address {
  text-align : center;
  padding: 10px;

}

.turnover {
  text-align : center;
  padding: 10px;

}

.description {
  text-align : center;
  padding: 10px;

}

.sector {
  text-align : center;
  padding: 10px;

}

