.background {
  background-color: white;
}

.background p, h1, h2, h3, h4, h5, h6 {
  color: black;
}

.last-meet h5 {
  font-size: 10px;
}

.lastmeetuser p {
  margin: 0px !important;
}

.mesinfos p{
  margin: 0px;
}
.photouser {
  img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    top: 54px;
    position: absolute;
    left: 237.5px;
    margin-top: 17px;

  }
  text-align: center;
  width: 100%;
}

.lastmeetuser {
  margin-left: 5px;
  padding-left: 5px;
  transform: translatey(-14px);
  margin: auto;
  text-align: center;
}
.firstname {
text-align: center
}

.disposition {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.imgcontact{
  width: 25px;
  height: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.linkedin {
  text-align: center;
}

.portfolio {
  width: 25px;
  height: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.work {
  width: 25px;
  height: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.linkedin1 {
    position: absolute;
    padding-top: -6px;
    width: 25px;
    height: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    transform: translatex(51px);
}

.linkedin3{
   position: absolute;
    padding-top: -6px;
    width: 25px;
    height: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    transform: translatex(176px);
}


.cardsphoto {
 background-color: #0A3B74;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  border-radius: 25px;
  padding: 10px;
  left: 18px;
  top: 90px;
  margin-top: 40px;
  margin-bottom: -49px;
  padding-bottom: 48px;
  margin-left: 10px;
  margin-right: 10px;
}

.cardprofil2 {
  background-color: #d6d8dc;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  border-radius: 25px;
  padding: 10px;
  left: 18px;
  top: 62px;
  margin-top: 40px;
  margin-bottom: 35px;
  padding-bottom: 12px;
  margin-left: 40px;
  margin-right: 17px;
  padding-right: 33px;
  padding-left: 33px;
  margin-top: 83px;
}

.cardprofil3 {
  background-color: #d6d8dc;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  border-radius: 25px;
  padding: 10px;
  left: 18px;
  top: 90px;
  margin-top: 40px;
  margin-bottom: 35px;
  padding-bottom: 12px;
  margin-left: 11px;
  margin-right: 40px;
  padding-right: 33px;
  padding-left: 33px;
}

.cardsphoto p, h5 {
  color: lightgray;
}
.cardprofil3 p{
margin: 0px;
text-align: left;
}

.cardprofil3 h5{
margin: 0px;
text-align: left;
color: black
}

.entreprise {
  text-align: left;
}
.distance {
  display: flex;
  justify-content: center;
}

.availi {
  text-align: center;
}

.calendarprofile {
  width: 25px;
  height: 25px;
  display: block;
  margin-left: 178px;
  margin-bottom: 5px;
}

.dispo {
  text-align: center;
  font-size: 16px;
}

.pencil-2 {
  width: 16px;
  height: 16px;
  display: block;
  // margin-left: auto;
  // margin-right: auto;
  // margin-bottom: 5px;
  display: inline;
  margin-left: 190px;
  margin-top: 0px;
}

.pencil {
    width: 16px;
    height: 16px;
    margin-left: 141px;
    display: inline;
}


.gps {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-bottom: 5px;
}

.link{
text-align: center;
}

.groupescount {
  width: 50px;
  height: 50px;
  margin: auto;
  display: -webkit-box;
  display: flex;
  padding-bottom: 5px;
  top: 325px;
  left: 258px;
  position : absolute;
}

.meetcount p {
  font-size: 15px;
}

.bg-edit {
  background-color: #1b262c;
}

.bg-edit a {
  color: red !important;
}

.sauvegarder {
  color: #1b262c;
  font-weight: bolder;
  background-color: #0196FF;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  margin-top: 20px;
}
