.background {
  background-color: #1b262c;
}

.background p, h1, h2, h3, h4, h5, h6 {
  color: white;
}

.firstname {
text-align: center
}

.disposition {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.imgcontact{
  width: 25px;
  height: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.linkedin {
  text-align: center;
}

.portfolio {
  width: 25px;
  height: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.work {
  width: 25px;
  height: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.linkedin1 {
  width: 25px;
  height: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.cardsphoto {
  display: flex;
  align-items : flex-end;
  background-size: cover;
  width: 100%;
  padding: 10px;
}

.distance {
  display: flex;
  justify-content: center;
}

.availi {
  text-align: center;
}

.calendarprofile {
  width: 25px;
  height: 25px;
  display: block;
  margin-left: 178px;
  margin-bottom: 5px;
}

.dispo {
  text-align: center;
  font-size: 16px;
}

.pencil-2 {
  width: 16px;
  height: 16px;
  display: block;
}

.pencil {
  width: 16px;
  height: 16px;
  margin-left: 130px;
}

.gps {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-bottom: 5px;
}

.link{
text-align: center;
}
