<h1 id="network">Your Network</h1>
  <div class="container">
<% @contacts.each do |contact| %>
  <%= link_to user_path(contact) do %>
  <div class="cards">
     <div>
    <%= cl_image_tag contact.photo.key, height: 150, width: 200, crop: :fill  %>
    </div>
   </div>
  <% end %>
<% end %>
