<div class="navbar-bottom">
  <div class="navbar-elements">

    <div class="navbar-element navbar-dashboard">
      <%= link_to dashboard_path do %>
      <div class="navbar-icon"></div>
      <p class="text-secondary">DASHBOARD</p>
      <% end %>
    </div>

    <div class="navbar-element navbar-calendar">
      <%= link_to meetings_path do %>
      <div class="navbar-icon"></div>
      <p class="text-secondary">RDVs</p>
      <% end %>
    </div>

    <div class="navbar-element navbar-network">
      <%= link_to networks_path do %>
      <div class="navbar-icon"></div>
      <p class="text-secondary">RÉSEAU</p>
      <% end %>
    </div>

  </div>
</div>
