<div class="navbar-bottom">
  <div class="navbar-elements">
    <div class="navbar-element">
      <a href=""><i class="fas fa-home"></i></a>
      <p><small>Dashboard</small></p>
    </div>
    <div class="navbar-element">
      <a href=""><i class="fas fa-calendar"></i></a>
      <p><small>Calendrier</small></p>
    </div>
    <div class="navbar-element">
      <a href=""><i class="fas fa-users"></i></a>
      <p><small>Relations</small></p>
    </div>
    <div class="navbar-element">
      <a href=""><i class="fas fa-search"></i></a>
      <p><small>Rechercher</small></p>
    </div>
    </div>
</div>
<!--   <div class="navbar-element">
    <div class="navbar-icon">
      <i class="fas fa-calendar"></i>
    </div>
    <div class="navbar-desc">
      <p>Calendrier</p>
    </div>
  </div>
  <div class="navbar-element">
    <div class="navbar-icon">
      <i class="fas fa-users"></i>
    </div>
    <div class="navbar-desc">
      <p>Relations</p>
    </div>
  </div>
  <div class="navbar-element">
    <div class="navbar-icon">
      <i class="fas fa-search"></i>
    </div>
    <div class="navbar-desc">
      <p>Rechercher</p>
    </div>
  </div> -->

