<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>My landing page</title>
  <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">
  <!-- We need this line below for responsiveness! -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <!-- code a Hero / Banner section -->
  <div class="banner" >
    <div class="container">
      <h1> Synergia, develop your network</h1>
      <p>Network does work</p>
      <a href="How it's work?" class="btn-blue"></a>
    </div>
  </div>

  <div class="container">
    <h2 class="text-center">How it works</h2>
    <div class="cards">

      <div class="card">
        <img src="images/time.jpg" alt="">
        <h4>Problem</h4>
        <h3>Networking is crucial for entrepreneurs, but it takes time.  Time is crucial for entrepreneurs, so….
</h3>
      </div>

      <div class="card">
        <img src="images/cafe.jpg" alt="">
        <h4>Solution </h4>
        <h3>Each week, Synergia will strategically organize you a meeting with
 another entrepreneur in order to talk, unstuck issues and create
 synergies
</h3>
      </div>

      <div class="card">
        <img src="images/entrepreneur.jpg" alt="">
        <h4>Target</h4>
        <h3>Busy entrepreneurs who need to extend their network smartly and consistently
</h3>
      </div>

    </div>
  </div>

<p id= "sign">Made with love by Tom</p>
