.choice {
  background-color: $yellow;
  color : $blue;
}

.touch-choice {
  background-color: $blue;
  color: white;
}

.days {
  display: flex;
  align-items: center;
  color: $blue;
}

.calendar {
  margin-top: 30px;
}

.tabs {
  width: 55px;
  height: 55px;
  margin : 2px 8px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.avahead {
  text-align: center;
  background-color : blue;
  display: flex;
  justify-content: center;
}

.case {
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid blue;
  position: relative;
  height: 32px;
  cursor: pointer;
}

.calendar .fas {
  font-size: 20px;
}

.dispo {
  text-align: center;
  font-size: 20px;
  p {
    color: $blue;
  }
}

.ava .content-wrapper {
  height: 100vh;
}

