.content-wrapper {
  min-height: calc(100vh - 64px);
  margin-bottom: 64px;
}

.navbar-bottom {
  background-color: white;
  position: fixed;
  // position: sticky;
  z-index: 10;
  bottom: 0;
  width: 100%;
  border-top: solid lightgray 1px;
}
.navbar-elements {
  display: flex;
  justify-content: space-around;
  padding-top: 8px;
  i {
    font-size: 30px;
  }
}

.navbar-element {
  width: 20%;
  text-align: center;
}

.navbar-element .navbar-icon {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  margin: auto;
}

.navbar-calendar .navbar-icon {
  background-image: url(asset_path('calendar_2.png'));
}

.navbar-dashboard .navbar-icon {
  background-image: url(asset_path('home.png'));
}

.navbar-network .navbar-icon {
  background-image: url(asset_path('avatar.png'));
}

.navbar-search .navbar-icon {
  background-image: url(asset_path('graph.png'));
}

.navbar-element p {
  margin: 2px auto;
  font-size: 12px;
  text-transform: uppercase;
  padding-top: 3px;
  color: #AAAAAA;
}

#meetings-index .navbar-calendar {
  .navbar-icon {
    background-image: url(asset_path('calendar_2.png'));
  }
  p {
    color: #001f3f;
  }
}

#pages-dashboard .navbar-dashboard {
  .navbar-icon {
    background-image: url(asset_path('home.png'));
  }
 p {
   color: #001f3f;
 }
}

#networks-index .navbar-network {
  .navbar-icon {
    background-image: url(asset_path('avatar.png'));
  }
  p {
   color: #001f3f;
 }
}

.logofound {
  align-items: center;
  text-align: center;
  width: 50px;
}

.navbar-brand {
  margin : 0 !important;
  padding: 0 !important;
}

.avatarnav {
  width : 40px;
  border-radius: 50%;
  margin-right : 5px;
  margin-top: 3px;
  cursor: pointer;
}

.navbar {
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin: 0 !important;
  border-bottom: 2px solid #1b262c;
  background-color: white;
}

// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 130px;
//   height: 40px;
// }
