.content-wrapper {
  // margin-bottom: 80px;
  min-height: calc(100vh - 142px);
  width: 98vw;
  margin: auto !important;
  padding-bottom: 72px;
}

#pages-home {
  .content-wrapper {
    padding-bottom: 0px;
  }
}

.navbar {
  height: 70px;
  background-color: white;
}

.navbar-bottom {
  height: 72px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: white;
  z-index: 10;
  border-top: solid lightgray 1px;
}

.navbar-elements {
  display: flex;
  justify-content: space-around;
  padding-top: 8px;
  i {
    font-size: 30px;
  }
}

.navbar-element {
  width: 20%;
  text-align: center;
}

.navbar-element .navbar-icon {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  margin: auto;
}

.navbar-calendar .navbar-icon {
  background-image: url(asset_path('calendar_2-nb.png'));
}

.navbar-dashboard .navbar-icon {
  background-image: url(asset_path('home_nb.png'));
}

.navbar-network .navbar-icon {
  background-image: url(asset_path('avatar_nb.png'));
}

.navbar-search .navbar-icon {
  background-image: url(asset_path('graph.png'));
}

.navbar-element p {
  margin: 2px auto;
  font-size: 12px;
  text-transform: uppercase;
  padding-top: 3px;
  color: #AAAAAA;
}

#meetings-index .navbar-calendar {
  .navbar-icon {
    background-image: url(asset_path('calendar_2.png'));
  }
  .text-secondary {
    color: #218ab9 !important;
  }
}

#pages-dashboard .navbar-dashboard {
  .navbar-icon {
    background-image: url(asset_path('home.png'));
  }
 .text-secondary {
   color: #218ab9 !important;
 }
}

#networks-index .navbar-network {
  .navbar-icon {
    background-image: url(asset_path('avatar.png'));
  }
  .text-secondary {
   color: #218ab9 !important;
 }
}

.logofound {
  align-items: center;
  text-align: center;
  width: 60px;
}

.navbar-brand {
  margin : 0 !important;
  padding: 0 !important;
}

.avatarnav {
  width : 50px;
  border-radius: 50%;
  margin-right : 5px;
  margin-top: 3px;
  cursor: pointer;
}

.navbar-element {
  a, a:active {
    text-decoration:none;
  }
}
