.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

h2 {
  font-size: 32px;
  font-family: 'Passion One';
}

h3, h4, h5, h6 {
  color: #1b262c !important;
  font-size: 28px !important;
  font-family: 'Passion One' !important;
}

p {
  color: #1b262c;
  font-size: 16px;
}
