.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

h1, h2 {
  font-size: 32px;
  font-family: $headers-font;
}

h3, h4, h6 {
  color: #1b262c !important;
  font-size: 28px !important;
  font-family: $headers-font !important;
}

p {
  color: white;
  font-size: 16px;
}

h5 {
    font-size: 18px !important;
    font-family: $headers-font !important;
}

p h4 {
  margin: 0px !important;
}
